<?xml version="1.1" ?>
<settings>
    <global>
        <blacklist>primeval brew,mollifier</blacklist>
        <turbo>false</turbo>
    </global>
    <inner>
        <blacklist>oracle&apos;s drink,primeval brew,mollifier,lucid ether i,sprinter&apos;s drink,healing salve ii,clear salve i,mana powder,mana mist,lucid ether ii,clear salve ii,healing salve i,assassin&apos;s drink,lucid ether iii</blacklist>
    </inner>
</settings>
